//:root {
//  font-size: 62.5%;
//}

body {
  background-color: $color-bg;
  font-family: 'Open Sans', sans-serif;
  color: $color-text;
  font-size: 1rem;
}

a {
  color: $color-link;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
