.cover {
  display: grid;
  grid-template: "cover" max-content;
  overflow: hidden;

  .poster {
    //display: flex;
    grid-area: cover;
    flex: 1;
    transition: transform ease-in 0.2s;
  }

  .cover-image {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    height: 0;
    padding-top: 140%;
    width: 100%;
  }

  .info {
    grid-area: cover;
    align-self: end;
    padding: $spacing-sm;
    transition: opacity ease-in 0.2s, transform ease-in-out 0.2s;
    opacity: 0;
    transform: translateY(50%);
    background-color: rgba(0, 0, 0, 0.5);
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .title {
    -webkit-font-smoothing: antialiased;
  }

  .episode-number {
    color: $color-text;
    font-size: 0.7em;
  }
}

.cover:hover {
  .poster {
    transition-timing-function: ease-in;
    transform: scale(1.15);

  }
  .info {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}